@media (max-width:767px){
    .nav3{
        display: none;
    }
   nav.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start!important;

   }
        
    
     
    
    .nav{
        flex-basis: 0;
    }
    #about .container {
        display: grid;
        grid-template-columns:none;
        color: rgb(100, 100, 100);
      }
      #job-info .container{
        grid-template-columns: none;
        grid-template-rows: none;
      }
      .certificate--1{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: none;
      }
      .certificate--2{
        display: flex;
        flex-direction: column;
        gap:20px;
        align-items: center;
        margin-bottom: none;
      }
      .certificate--2:nth-child(2){
        border-left: none;
        border-top: 1px solid #ffc078;
        padding-top: 32px;
      }
      .project-content{
        display: grid;
        grid-template-columns: 1fr;
      }
    .project-content-text{
        height: 300px;
      }
      #footer a{
        display: none;
      }
      
}
    

    
